{% extends '::base.html.twig' %}

{% block headTitle %}{{ productname }}{% endblock %}

{% block body %}
    {% for cat in category %}
        {% include ':category:content.html.twig' %}
    {% endfor %}
    {% if not doPagination is defined %}
        <div class="navigation">
            {{ knp_pagination_render(products) }}
        </div>
    {% endif %}
{% endblock %}

