{% extends '::base.html.twig' %}

{% block body %}
    
    <ul>
        <li><a href="{{ path('app_products_index') }}">Productos</a></li>
        <li><a href="{{ path('app_messages_indexOut') }}">Mensajes</a></li>
        <li><a href="{{ path('app_category_insert') }}">Category</a></li>
    </ul>
{% endblock %}
