{% extends '::base.html.twig' %}

{% block body %}

    <div class="row"> <div class="col-md-5">
            <img src="{{ asset('css/LOGO LT.png') }}" class="img-responsive"> </div>
        <div class="col-md-4"> <h1>Index</h1> <h3>LeTrueKe</h3>
            <p>Bienvenidos a LeTrueKe, LeTrueKe es una página que se orienta a los intercambios de objetos entre personas,
                que eso es lo que representa el logo, dos personas intercambiando entre ellas.<br><br>
               Esta página está desarrolada con Symfony 3.0, la nueva version de symfony con nuevas funciones y algunas rescatadas de versiones anteriores.<br><br>
               Para realizarlo se ha tomado la Base de aquí : <a href="https://github.com/itrascastro/Symfony-3-Base-Project">Enlace</a>.

                Por cierto, es mi proyecto de DAW.


                </p>
        </div>
    </div>

{% endblock %}
