
{% extends '::base.html.twig' %}

{% block headTitle %}Mostrar Productos{% endblock %}

{% block body %}
    <div class="product-container" >
        {% include ':products:content.html.twig'%}
    </div>
{% endblock %}