{% extends '::base.html.twig' %}

{% block body %}
    <h1>PRODUCTOS</h1>
    <ul>
        <li><a href="{{ path('app_products_insert') }}">Insertar Producto</a>   </li>
    </ul>
    <!-- -->
{% endblock %}