
{% extends '::base.html.twig' %}

{% block headTitle %}{{ titulo }}{% endblock %}

{% block body %}
    <div class="product-container" >
        {% for product in products %}
            <span id="{{ product.id }}">
        {% include ':products:content.html.twig' %}
        </span>
        {% endfor %}
    </div>
    {% if is_granted('ROLE_USER') %}
        <a class="btn btn-warning btn-xxl" href="{{ path('app_products_insert')}}">Insertar Producto</a>
    {% endif %}
    {% if not doPagination is defined %}
        <div class="navigation ">
            {{ knp_pagination_render(products) }}
        </div>
    {% endif %}
{% endblock %}