
{% extends '::base.html.twig' %}

{% block headTitle %}{{ titulo }}{% endblock %}

{% block body %}
    <div class="product-container" >
        {% for out in messages %}
            <span id="{{ out.id }}">
        {% include ':messages:outcontent.html.twig' %}
        </span>
        {% endfor %}
    </div>
    {% if not doPagination is defined %}
        <div class="navigation ">
            {{ knp_pagination_render(messages) }}
        </div>
    {% endif %}
{% endblock %}