{% extends '::base.html.twig' %}

{% block headTitle %}Show Messages{% endblock %}

{% block body %}
    {% include ':messages:outindex.html.twig'%}
    <a class="btn btn-warning btn-xxl" href ="{{ path('fos_user_profile_show') }}">Volver a perfil</a>
    <a class="btn btn-warning btn-xxl" href="{{ path('app_messages_indexIn') }}">Bandeja de Entrada</a>
{% endblock %}